<h2>Create A User</h2>

<form action= <%= "users_url"%> > 
  <input type="text" name="user[email]"> 
  <%# where does this user[username] come from? %>
  <input type="text" name="user[password]"> 
  <button> Submit </button>
</form>