<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <h1 >Music App</h1>

  <header>
    <div>music!</div>
    <%if logged_in? %>
      <button>logout</button>
      <%# add address for button %>
    <%else%>
      <button>login</button>
    <%end%>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
