<h2>Login Page</h2>

<form action="<%= session_url %>" method="POST">
  <input type="text" name="user[email]">
  <input type="password" name="user[password]">   
  <%# why singular user?  and where are these params coming from?%>

  <button>Submit</button>
</form>